<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block meta_content %}
    <meta property="og:url" content="{{ config.base_url | safe }}{%if page.path %}{{ page.path | safe}}{% endif %}" />
    <meta property="og:site_name" content="{{ config.title }}"/>

    {% if config.extra.bluesky_account %}
    <meta name="twitter:site" content="＠{{ config.extra.bluesky_account }}">
    <meta name="twitter:creator" content="@{{ config.extra.bluesky_account }}">
    {% endif %}

    {% set page_title = page.title | default(value=config.title) %}
    <meta name="twitter:title" content="{{ page_title }}">
    <meta property="og:title" content="{{ page_title }}" />

    {% set page_desc = page.description | default(value=config.description) %}
    <meta name="description" content="{{ page_desc | safe }}" />
    <meta name="twitter:description" content="{{ page_desc | safe }}">
    <meta property="og:description" content="{{ page_desc | safe }}" />

    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website"/>
    {% endblock meta_content %}

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml', trailing_slash=false) }}">
    {% endblock %}

    {% block atom %}
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
    {% endblock %}

    {% block title %}
    <title>{{ page_title }}{% if page.title %} - {{ config.title }}{% endif %}</title>
    {% endblock title %}

    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!localStorage.getItem('color-theme') && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        }
    </script>
    
    <link rel="stylesheet" href="{{ get_url(path='/css/base.css', cachebust=true) }}" />
</head>

<body class="text-zinc-900 dark:text-zinc-100 transition dark:bg-zinc-900">
    <div class="w-full px-4 sm:px-7 lg:px-10">
        <header class="flex flex-col sm:flex-row items-center justify-between max-w-3xl mx-auto py-5">
            <div class="flex flex-col items-start">
                <h1 class="text-5xl font-semibold blog-title hover:scale-110">
                    <a href="{{ get_url(path="@/_index.md") }}">{{ config.title }}</a>
                </h1>
                <span class="text-zinc-500">{{ config.description }}</span>
            </div>
            <div class="flex items-center gap-2 my-2">
                {% include "buttons.html" %}
            </div>
        </header>

        <main class="w-full">
            {% block content %}
            nothing here
            {% endblock %}
        </main>

        <footer class="mt-10 p-3 flex flex-col justify-center items-center text-zinc-600 dark:text-zinc-400 w-full">
            <p class="text-sm">&copy; {{ config.author }} {{ now() | date(format="%Y") }}</p>
            <p class="text-sm">Powered by <a href="https://www.getzola.org/">Zola</a> using the <a href="https://github.com/m0ddr/lookr">lookr</a> theme</p>
        </footer>
    </div>

    <script src="{{ get_url(path='/js/toggle-theme.js', cachebust=true) }}"></script>
    <script src="{{ get_url(path='/js/codeblocks.js', cachebust=true) }}"></script>
</body>
</html>