{% for page in paginator.pages %}
    {% include "card.html" %}
{% endfor %}

{% if paginator %}
    <div>
        <nav class="flex flex-row justify-items-stretch justify-between w-full">
            {% if paginator.previous %}
                <a class="mt-4 text-black dark:text-white hover:scale-105 hover:bg-zinc-100 dark:hover:bg-zinc-800 font-medium
                     rounded-md text-sm px-5 py-2.5 me-2 mb-2 dark:bg-zinc-900 border dark:border-zinc-700 border-zinc-300
                     " href="{{ paginator.previous | safe }}">Previous</a>
            {% endif %}
            {% if paginator.next %}
                <a class="mt-4 ml-auto text-black dark:text-white hover:scale-105 hover:bg-zinc-100 dark:hover:bg-zinc-800 font-medium
                     rounded-md text-sm px-5 py-2.5 me-2 mb-2 dark:bg-zinc-900 border dark:border-zinc-700 border-zinc-300
                     " href="{{ paginator.next | safe }}">Next</a>
            {% endif %}
        </nav>
    </div>
{% endif %}
