@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-blue-600: oklch(54.6% 0.245 262.881);
    --color-blue-400: oklch(70.7% 0.165 254.624);
}

body {
    font-family: "Poppins";
}

@layer base {
    img {
        @apply rounded-2xl;
    }
    video {
        @apply rounded-xl;
    }
}

mark {
    background-color: var(--color-blue-600);
}

.dark mark {
    background-color: var(--color-blue-400);
}

p a {
    color: var(--color-blue-600);
    text-decoration: none;
}

.dark p a {
    color: var(--color-blue-400);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

pre {
    border: 1px solid oklch(70.8% 0 0);
}

.dark pre {
    border: 1px solid oklch(37.1% 0 0);
}

article li a {
    color: var(--color-blue-600);
    text-decoration: none;
}

.dark article li a {
    color: var(--color-blue-400);
    text-decoration: none;
}

article li a:hover {
    text-decoration: underline;
}